<!-- Inheriting from the base.html -->
{% extends "base.html" %}
{% block head %}Posts{% endblock %}
{% block content %}
<h1>Welcome to Home Page</h1><br>
<article class="media content-section">
    <img class="rounded-circle article-img" src="{{ url_for('static',filename='img/'+post.author.image_file) }}" alt="">
    <div class="media-body">
        <div class="article-metadata">
            <!-- Posts Author name -->
            <a href="{{ url_for('user_posts', username=post.author.username) }}"
                class="mr-2">{{ post.author.username }}</a>
            <!-- Date Posted -->
            <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
            <!-- To show the below links if the post belongs to the current user -->
            {% if post.author == current_user %}
            <div>
                <a href="{{ url_for('update_post',post_id=post.id) }}"
                    class="btn btn-secondary btn-sm mt-1 mb-1">Update</a>
                <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal"
                    data-target="#deleteModal">Delete</button>
            </div>
            {% endif %}
        </div>
        <!-- Post Title -->
        <h2 class="article-title">{{ post.title }}</h2>
        <!-- Post content -->
        <p class="article-content">{{ post.content }}</p>
    </div>
</article>
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <!-- Deleting the post for the desired id  -->
                <form action="{{ url_for('delete_post',post_id=post.id) }}" method="POST">
                    <input type="submit" class="btn btn-danger" value="Delete">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}